section1{

    background: #ffffff;
}
section2{
    background-image: url(../images/334.jpg);
    background-size: auto;
    margin-left: 285px;
}
h2{
    margin-left: 285px;
    font-size: 38px;
    padding-top: 123px;
    margin-bottom: -5px;
}